#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #3D3B8E;
}

header {
    background-color: #FF8E72;
}

nav a:hover {
    background-color: #FDFFFC;
}

.book, .join {
    background-color: #FDFFFC;
}

.book:hover, .join:hover {
    background-color: #FF8E72;
    color: #fff;
}


#background {
    background-color: #157A6E;
}


.msg {
    background-color: #FDFFFC;
}

footer {
    background-color: #157A6E;
}

.icon {
    width: 80px;
}

nav a {
    text-decoration: none;
}

.book, .join {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
    color: #fff;
}